/* welcome to the style file of this project! */

* {
    transition: all ease .2s ;
    position: absolute;
}

.container{
    width: 100vw;
    min-height: 100vh;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 14%, rgba(70,252,127,1) 100%);
}

.screen{
    width: 800px;
    height: 500px;
    top: 100px;
    left: 200px;
    background: rgb(252,124,5);
    background: linear-gradient(0deg, rgba(252,124,5,1) 0%, rgba(253,243,45,1) 100%);
}

.circle1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    top: 145px;
    left: 230px;
}

.circle2{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    top: 145px;
    left: 340px;
}

.circle3{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    top: 250px;
    left: 340px;
    filter: blur(1px);

}

.circle4{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    top: 250px;
    left: 230px;
    filter: blur(1px);
  
}

.circle5{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    top: 350px;
    left: 230px;
    filter: blur(3px);   
    animation: shrink2 1s infinite alternate;

}

.circle6{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    top: 350px;
    left: 340px;
    filter: blur(3px); 
    animation: shrink 1s infinite alternate;
}

@keyframes shrink {
    from {
        transform: scaleX(1.5);
    } to {
        transform: scaleX(1);
    }
}

@keyframes shrink2 {
    from {
        transform: scaleX(1.5);
    } to {
        transform: scaleX(1);
    }
}

.square1{
    width: 53px;
    height: 15px;
    background-color: rgb(56, 56, 56);
    top: 184px;
    left: 269px;
}

.square2{
    width: 53px;
    height: 15px;
    background-color: rgb(56, 56, 56);
    top: 300px;
    left: 269px;
}

.bigsquare{
    width: 300px;
    height: 360px;
    background: rgb(63,140,251);
    background: radial-gradient(circle, rgba(63,140,251,1) 16%, rgba(70,252,231,1) 100%);
    top: 145px;
    left: 525px;
}

.circlered{
width: 150px;
height: 150px;
border-radius: 50%;
top: 250px;
left: 600px;
animation: shrink 1s infinite alternate;
background: rgb(251,63,63);
background: radial-gradient(circle, rgba(251,63,63,1) 16%, rgba(252,219,70,1) 100%);
}
